.icon-svg {
    width: 20px;
    height: 20px;
    fill: var(--white-color);
    cursor: pointer;
}

.icon-svg.low,
.icon-svg-calendar {
    fill: var(--priority-low-color);
}

.icon-svg.medium {
    fill: var(--priority-medium-color);
}

.icon-svg.high {
    fill: var(--priority-high-color);
}

.icon-svg:hover {
    transition: 1s;
}

.icon-svg-plus:hover,
.icon-svg-calendar:hover,
.checkbox:hover {
    fill: var(--green-color);
}

.icon-svg-cross:hover {
    fill: var(--red-color);
}

.icon-svg-lightning:hover {
    fill: var(--white-color);
}