#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.genderize{
  display: flex;
  flex-flow: column;
  width: 320px;
  word-wrap: break-word;
}

.genderize__form{
  gap: 5px;
  border: 1px gray solid;
  padding: 4px;
  border-radius: 6px;
  margin-bottom: 5px;
  
}
.genderize__form li{
  list-style-position: inside;
}
.genderize__input{
  font-size: 20px;
  height: 28px;
}
.genderize__error{
  color: rgba(179, 0, 0, 0.838);
  text-align: left;
}
.genderize__output p{
  font-weight: bold;
}