.form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 40px auto;
    gap: 20px;
}

.button,
.input {
    height: 50px;
    background-color: rgba(5, 25, 55, 0.4);
    font-size: 0.97em;
    box-shadow: 10px 10px 14px 1px rgb(0 0 0 / 20%);
    text-align: center;
    margin: 0 auto;
}

.button {
    border-radius: 50px;
    width: 180px;
    text-transform: uppercase;
}

.input {
    border-radius: 5px;
    width: 280px;
    letter-spacing: 0.094em;
}

.input-error {
    color: rgb(255 174 249);
}
